name: testing cache
on:
  # push:
  workflow_dispatch:
jobs:
  get-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        id: cache-data
        with:
          key: data-${{ hashFiles('getData.js') }}
          path: data.txt
      - run: echo ${{ steps.cache-data.outputs.cache-hit }}
      - run: node getData.js
        if: steps.cache-data.outputs.cache-hit != 'true'
      - run: cat data.txt
