name: exercise 01
on: push
jobs:
  setup-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          key: npm-cache-${{ hashFiles('package-lock.json') }}
          path: ~/.npm
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci --verbose
